<h1>Hello {{ user.name }}</h1>

<p>Somebody requested a new password for the Bocasay_ account associated with {{ user.email }}.</p>

<p>No changes have been made to your account yet.</p>

<p>You can reset your password by clicking the link below:</p>

<a href="http://localhost:3000/reset/{{ resetToken.token }}">Reset Password</a>

<p>If you did not request a new password, please let us know immediately by replying to this email.</p>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Yours,</p>

The Bocasay_ team
